<% provide(:title, "#{@location.name} 健康檢查醫院") %>
<% breadcrumb :location, @location %>
<h1>
  <span class="glyphicon glyphicon-map-marker"></span>
  <%= @location.name %> 健康檢查服務醫院
</h1>
<p class="text-right">
   <span class="glyphicon glyphicon-circle-arrow-left"></span>
     <%= link_to '回到上一頁', '/' %>
</p>
<%= render 'hot_exams' %>
