<h1>
  <span class="glyphicon glyphicon-search"></span>
  "<%= params[:search] %>" 搜尋結果
</h1>
<p class="text-right">
   <span class="glyphicon glyphicon-circle-arrow-left"></span>
     <%= link_to '回到上一頁', '/' %>
</p>
<%= render 'hot_exams' %>
