<a class="menu-toggler" id="menu-toggler" href="#">
	<span class="menu-text"></span>
</a>

<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>

	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
      <%= link_to root_path, class:'btn btn-danger' do %>
				<i class="fa fa-diamond"></i>
      <% end %>

			<button class="btn">
				<i class="fa fa-bitcoin"></i>
			</button>

			<button class="btn">
				<i class="fa fa-map-marker"></i>
			</button>

      <%= link_to destroy_dashboard_tekmqbs_user_session_path, class:'btn', method: :delete do %>
        <i class="fa fa-sign-out"></i>
      <% end %>
		</div>

		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>

			<span class="btn btn-info"></span>

			<span class="btn btn-warning"></span>

			<span class="btn btn-danger"></span>
		</div>
	</div><!-- #sidebar-shortcuts -->

	<ul class="nav nav-list">
		<li>
      <%= link_to dashboard_tekmqbs_hospitals_path do %>
        <i class="fa fa-plus-square"></i>
          醫院列表
      <% end %>
		</li>
	</ul><!-- /.nav-list -->
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>
