<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      <%= image_tag ("ruby_plus.png") %>
      </a>
    </div>
  </div>
</nav>
