<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      <%= image_tag ("ruby_plus.png") %>
      RubyJJ
      </a>
    </div>
  </div>
</nav>
<%= breadcrumbs pretext: "here", display_single_fragment: true, style: :bootstrap, link_current: true %>
